.like__btn {
  color: inherit;
  border: 0;
  box-shadow: none;
  background-color: white;
  text-shadow: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  justify-content:flex-end;
  text-align: right;

  &:focus {
    outline: 0 !important;
  }
}
