// Link Handling

a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}

a.nav__item--active {
  border-color: white;
}

// a:visited {
//   color: green;
// }

a:hover {
  // color: #8c8c8c;
  border-color: #e6e6e6;
}
