// Hauptspalte
.container {
  width: 96%;
  max-width: 42rem;
  margin: 0 auto; // center
  position: relative;
}


/* space between the items */
.nav__item + .nav__item {
  margin-left: 1.25em;
}

// .nav ul {
//   display: flex;
//   background-color: red;
// }

// .seperator {
//
// }

.nav {
  position: relative;
  width: 100%;
}

.container--nav {
  height: 100%;
  display: flex;
  align-items: center;
}

/* the gradient right */
.nav:after {
  content: "";
  width: 1.25em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 0),
    rgba(0, 0, 0, 1)
  );
}

/* scroll-area */
.nav__inner {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  width: 100%;
  scrollbar-width: none; /* no-scrollbar: firefox */
}
.nav__inner::-webkit-scrollbar {
  display: none; /* no-scrollbar: Safari and Chrome */
}

/* at the end of the list we add space*/
.nav__inner:after {
  display: block;
  content: "";
  width: 1.25em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1.25em;
}

/* don't wrap within the items */
.nav__item {
  white-space: nowrap;
}
