// Titel

// je nach Viewport möchte ich eine verschieden stark ansteigende Titelei
$font-scale--default: 1.12;
$font-scale--m: 1.2;
$font-scale--l: 1.25;

h1,
h2,
h3,
h4,
h5,
h6 {

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}


h1 {
  font-size: 1rem * $font-scale--default * $font-scale--default;
  margin-bottom: 1em;


  @include media(m) {
    font-size: 1rem * $font-scale--m * $font-scale--m;
  }

  @include media(l) {
    font-size: 1rem * $font-scale--l * $font-scale--l;
    line-height: normal;
    margin-bottom: 0.6em;

color: black;
  }
}


h2 {
  font-size: 1rem * $font-scale--default;


  @include media(m) {
    font-size: 1rem * $font-scale--m;
  }

  @include media(l) {
    font-size: 1rem * $font-scale--l;
  }
}


h3 {
  font-size: 1rem;
  line-height: normal;
  margin-bottom: 0.3em;
  color: black;
}

h4 {
  font-size: 0.7rem;
  line-height: normal;
  color: #597e8d;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

h5 {
  font-size: 0.6rem;
  font-weight: 300;
  color: gray;
  margin-bottom: 1em;
}

.kolumne-subhead {
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: normal;
  color: #597e8d;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

.kolumne {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
}

.abstand {
  margin-top: 0.6em;
}
